#blue_bar_chart {
   stroke: black;
   fill  : blue;
}
#red_bar_chart {
  stroke: black;
  fill  : red;
}
#line_line_chart {
  stroke: black;
  stroke-width: 2;
}
#path_line_chart {
  stroke: black;
  stroke-width: 2;
  fill: none;
}
#pie_chart {
  fill: red;
  stroke: black;
  stroke-width: 2;
}